html{
background-color:#f1f2f7;
background:#f1f2f7;
}
.container-fluid{
    background-color:#f1f2f7;
    background:#f1f2f7;
}
.main-graph{
margin-top:20px;
margin-bottom:20px;
margin:auto;
}
.graph{
margin-right:10px;
background:#fff;
}
.graph-input{
    
}