html{
background:#f1f2f7;
}

body{
background:#f1f2f7;
}
.row{
margin-top:20px;
}
.hidden{
display: none;
}
.col-header{
background:#50c6ee;
color:white;
padding:15px;
margin:0;
}
.graph{
background:#f1f2f7;
}
.graph-input{
background:#f1f2f7;
}
.col-in-w{
position: relative;
background:white;
overflow: hidden;
height: 300px;
padding:20px;
}
#graph-body{
height: 300px;
}
.row2{
margin-top:20px;
}

.output{
background-image:url('../images/otab_bg.png');
background-size:100%;
margin:auto;
padding:0;
}
.ban{
display: inline-block;
background: #6ccac9;
width: 40%;
padding: 25px 15px;
-webkit-border-radius: 4px 0px 0px 4px;
border-radius: 4px 0px 0px 4px;
}

.output i{
    color: #fff;
    /*font-size: 50px;*/
}
.output .col-lg-5{
    border-bottom-right-radius: 5px;
    box-shadow: 2px 3px 10px #495057;
}

.ban-con{
width: 50%;
display: inline-block;
text-align: center;
font-size: 13px;
color: #b2b3b5;
font-weight: 300;
overflow:hidden;
}
.ban-con p{
color:#b2b3b5;
}
.col-in-w td{
    padding:5px 0;
    padding-left:5px;
}
.search-holder input{
    width:100%;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.regions{
    width:100%;
    background-color: white;
    background-image: url('../images/location.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.btn-holder{
position: absolute;
bottom:20px;
}
.btn-holder button{
background:none;
background-color: #2689e2;
padding:5px;
color: white;
border:none;
border-radius:3px;
padding-top:5px;
padding-bottom:5px;
}